extends layout

block content
    div.listBox
        div.set
            h1 Problem Creator
        form(method='POST', action='/problems/create')
            div.sec
                a Id
                input.formControl(name='id', type='text')
            div.sec
                a Title
                input.formControl(name='title', type='text')
            div.sec
                a Difficulty
                input.formControl(name='difficulty', type='text')
            div.sec
                a Author
                input.formControl(name='author', type='text')
            div.sec
                a Description
                br
                textarea.formControl(name='description')
            div.sec
                a Input
                br
                textarea.formControl(name='input')
            div.sec
                a Output
                br
                textarea.formControl(name='output')
            div.sec
                a Input Example
                br
                textarea.formControl(name='input_example')
            div.sec
                a Output Example
                br
                textarea.formControl(name='output_example')
            div.sec
                a Inputs
                br
                textarea.formControl(name='inputs')
            div.sec
                a Outputs
                br
                textarea.formControl(name='outputs')
            div.sec
                input(type='submit', value='Create')